.titleTaskInterface{
  width: 100%;
    font-size: 24px;
    color: rgb(54, 54, 54);
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
    font-family: 'Rubik', sans-serif;
}

.Content_task{
    display:flex;
    flex-direction: row;
    gap: 1.5rem;
  }
.content{
  padding-left: 20px;
}
.taskcard{
    background-color: #fff;
    min-width: 15rem;
    height: max-content;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    margin-top: 10px;
    overflow: hidden;
  }
  

  
  .modify-icon-task {
    color: #fff;
    font-size: 15px;
    cursor: pointer;

  }

  
  .card-content-task {
    padding: 10px 10px;
    border-radius: 0 0 5px 5px;
    width:100%;
    height: 100%;
  }
  
  .card-description-task {
    font-size: 17px;
    margin: 0;
    font-family: 'Roboto', sans-serif; 
    padding-top: 20px;
    padding-bottom: 5px;


}

.task_list{
    font-size: 1.2rem;
    font-weight:600;
     padding-top:10px;
     padding-bottom:10px;
}

 .row-number{
    content: '';
    width: 1.2rem;
    height: 1.2rem;
    background-color: rgb(140, 140, 140);
    position: absolute;
    border-radius: 50%;
    color: white;
    margin-left: 0.5rem;
    text-align:center;
    margin-top: 0.3rem;
    padding: 0.1rem;
    font-size: 12px;
    font-weight: 600;
  }
  .row-number-2{
    
    position: absolute;
    width: 1.2rem;
    height: 1.2rem;
    background-color: #ff6201c9;
    border-radius: 50%;
    color: white;
    margin-left: 0.5rem;
    text-align:center;
    margin-top: 0.3rem;
    padding: 0.1rem;
    font-size: 12px;
    font-weight: 600;
  }

  .row-number-3{
    content: '';
    width: 1.2rem;
    height: 1.2rem;
    background-color: #2b9d2fb1;
    position: absolute;
    border-radius: 50%;
    color: white;
    margin-left: 0.5rem;
    text-align:center;
    margin-top: 0.3rem;
    padding: 0.1rem;
    font-size: 12px;
    font-weight: 600;
  }
  

.progress-task{
    padding-top: 20px;
}
  .icontask{
    font-size: 17px;
    color: rgb(153, 153, 153);
    cursor: pointer;
  }
  .card-footer-task{
    display: flex;
    justify-content: space-between;
    
  }

  .col-task{
    background-color: #e6e6e689;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 21.5rem;
    height: max-content;
    position: relative;
    
  }

  .priority_medium{
    background-color: rgba(0, 208, 255, 0.25);
    padding:3px;
    width: 4.5rem;
    text-align: center;
    font-weight: 600;
    border: 2px solid rgb(0, 208, 255);
    border-radius: 5px;
    color: rgb(0, 71, 87);
    font-size: 13px;
  }
  .priority_low{
    background-color: rgba(255, 55, 0, 0.152);
    padding:3px;
    width: 4.5rem;
    text-align: center;
    font-weight: 600;
    border: 2px solid rgba(233, 27, 0, 0.51);
    border-radius: 5px;
    color: rgb(181, 54, 0);
    font-size: 13px;
  }
  .priority_high{
    background-color: rgba(144, 0, 255, 0.152);
    padding:3px;
    width: 4.5rem;
    text-align: center;
    font-weight: 600;
    border: 2px solid rgba(124, 0, 233, 0.51);
    border-radius: 5px;
    color: rgb(100, 0, 181);
    font-size: 13px;
  }
.buttons{
    display: flex;
    gap: 1rem;
}

.btnClass{
border: none;
border:solid 1px rgb(155, 192, 201);
background-color: rgb(243, 252, 255);
border-radius: 5px;
font-size: 13px;

}
.card-desc{
  padding-bottom: 15px;
}
.header_task{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top:40px;
  padding-left: 20px;
}
.dropDown{
  font-size: 17px;
    font-family: 'Rubik', sans-serif;
    border: 1px solid rgb(161, 161, 161);
    border-radius: 10px;
    padding: 10px;
    padding-left: 40px;
}
.dropDown:hover{
background-color: #754ae2bc;
color: white;
}


.bodyModal {
  background: #8758ff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.h1 {
  color: #1A1A40;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  background: #ffffff;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 5px;
}

.TodoForm {
  width: 100%;
  padding: 0;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #8758ff;
  border-radius: 5px 0 0 5px;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 620px;
  height: 45px;
  color: #6c6c6cae;
}

.todo-input::placeholder {
  color: #4b4b4ba2;
}

.todo-btn {
  background: #8758ff;
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  padding: 0.55rem;
  cursor: pointer;
  height: 45px;
  width: 100px;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #8758ff;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  cursor: pointer;
}

.fa-trash {
  margin-left: 0.75rem;
}

.completed {
  color: #c5aeff;
  text-decoration: line-through;
}
 