.header {
  display: flex;
  justify-content:end;
  align-items: center;
  height: 60px;
  padding: 0 20px;
  width: 100%;
}

.icon1{
  position: absolute;
  top: 50%;
  left: 80px;
  transform: translateY(-50%);
  color: #b6a7d9;
}


.header__dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}

.user__details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  gap: 0.5rem;
}

p{
  margin: 0 !important;
}




@media screen and (max-width: 768px) {
   .header__search {
    display: none;
  }
  .user__details{
    align-self: flex-end;
  }
 
}
