
.manager-container {
    display: flex;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: Inter, sans-serif; 
    font-weight:500;
    font-size: 17px;
    color: #565555;
    
  }

  
  /* Content */
  .content-container {
   display: flex;
   flex-direction: column;
   width: 100%;
   /* justify-content: cn; */
  }
  
 .projects-header{
  /* position: fixed; */
  padding: 20px 20px 0px 20px;
  background-color: rgb(255, 255, 255);
 }

  .projects-header-title {
 
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  /* Projects */
  .projects-title {
    margin: 0;
    font-size: 30px;
  }
  .projects-buttons {
    display: flex;
    align-items: center;
  }
  .buttom-text {
    margin-left: 10px;
  }
  
  .projects-filter-button,
  .projects-add-button {
    font-size: 17px;
    background-color: #0085FF;
    color: #fff;
    border: 1px solid #0085FF;
    border-radius: 10px;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .projects-filter-button:hover,
  .projects-add-button:hover {
    background-color: #ffffff;
    color: #0085FF;
    border: 1px solid #0085FF;
  }
  .projects-section{
    padding: 30px;
  }
  .projects-subtitle {
    padding-left: 20px;
  }
  
  .card {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-x: scroll;
  }
  
  .card-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    padding-top: 20px;
    background-color: #0085ff;
    color: #fff;
    width: 3vw;
  }
  
  .card-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: calc(100% - 50px);
  }
  
  .card-table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .card-table th,
  .card-table td {
    border: 0px solid #ddd;
    padding: 8px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .card-table thead {
    color: #0085ff;
  }
  
  .card-table tbody {
    background-color: rgba(189, 223, 255, 0.17);
    font-style: italic;
    font-family: 15px;
  }
  
  .card-table th {
    font-weight: bold;
  }
  
  .card-description {
    font-size: 16px;
    line-height: 1.5;
  }
  
  .description {
    font-weight: 600;
    color: #0085ff;
  }
  
  @media screen and (max-width: 1080px) {
    .projects-header-title {
     justify-content: center;
     gap: 2rem;
    }
  }