  /* Sidebar */
  
  .sidebar-container {
    flex: 0 0 220px;
    
  }
  .sidebar {
    width: 200px;
    background-color: #ffffff;
    height: 100vh;
    overflow-y: auto;
    z-index: 9999;
    border-right: 1px solid rgb(240, 240, 240);
 
  }
  .sidebar-logo {
    padding: 30px;
  }
  
  .sidebar-logo img {
    height: 100px;
    width: auto;
  }

  .sidebar-nav {
    list-style: none;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  
  .sidebar-item {
    margin: 10px 0;
    
  }
  
  .sidebar-link {
    display: block;
    padding: 10px;
    padding-left: 25px;
    color: #565555;
    text-decoration: none;
    font-family: Inter, sans-serif; 
    font-weight:500;
    font-size: 17px;
    border-radius: 20px;
    transition: all 0.2s;
  }
  
  .sidebar-link:hover {
    background-color: #0085FF;
    color: white;
  }
  
  .sidebar-link i {
    margin-right: 10px;
  }
  
  .sidebar-text {
    margin-left: 10px;
  }