.error-message-email {
  color: rgba(255, 0, 0, 0.632);
  padding-left: 0rem;
  font-size:15px;
  padding-top: 2.4rem; 
  margin-left: -20px;
  float: left;
}

.blue{
  margin-top: -0px;
}
.error-message-mdp {
  color: rgba(255, 0, 0, 0.632);
  font-size:15px;
  padding-top: 3.4rem; 
  margin-left: -20px;

  float: left;
}
.error-message-mdp {
  padding-left: 0.2rem;
}
  *{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}



.container{
    height: 100vh;
    display: flex;
	flex-direction: column;
    
}


.login-content{
	display: flex;
	justify-content:center;
	align-items: center;
	text-align: center;
	margin-top: 6rem;
	margin-left: 4rem;;
	
}
.img img{
	height:40rem;
}

.login-content img{
    height: 100px;
}

.login-content h2{
	margin: 15px 0;
	color: #555555d9;
	font-size:2rem;

	
}

.login-content .input-div{
	position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

.login-content .input-div.one{
	margin-top: 0;
}
.input-div.one{
  width: 350px;
}
.input-div.pass{
  width: 350px;
  margin-top: 10px;
}

.i{
	color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
}

.i i{
	transition: .3s;
}

.input-div > div{
    position: relative;
	height: 45px;
}

.input-div > div > h5{
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #999;
	font-size: 18px;
	transition: .3s;
}

.input-div:before, .input-div:after{
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 2px;
	background-color:#744ae2;
	transition: .4s;
}

.input-div:before{
	right: 50%;
}

.input-div:after{
	left: 50%;
}

.input-div.focus:before, .input-div.focus:after{
	width: 50%;
}

.input-div.focus > div > h5{
	top: -5px;
	font-size: 15px;
}

.input-div.focus > .i > i{
	color: #744ae2;
}

.input-div > div > input{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background: none;
	padding: 0.5rem 0.7rem;
	font-size: 1.2rem;
	color: #555;
	font-family: 'poppins', sans-serif;
}

.input-div.pass{
	margin-bottom: 4px;
}

.btn_{
	cursor: pointer;
	display: block;
	width: 100%;
	height: 50px;
	border-radius: 10px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #7247e0bd, #744ae2, #a896d8);
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	margin: 1rem 0;
	transition: 0.5s;
    margin-top: 50px;
}
.btn_:hover{
	background-position: right;
}


@media screen and (max-width: 1050px){
	.container{
		grid-gap: 5rem;
	}
}

@media screen and (max-width: 1000px){
	form{
		width: 290px;
	}

	.login-content h2{
        font-size:2rem;
		color: #555;
        margin: 8px 0;
	}

	.img img{
		width: 400px;
	}
}

@media screen and (max-width: 900px){
	.container{
		grid-template-columns: 1fr;
	}

	.img{
		display: none;
	}

	.wave{
		display: none;
	}

	.login-content{
		justify-content: center;
	}
} 
.btn{
  margin-bottom: 2cm;
}
   
.toforgot{
	margin-right: 120px;
	align-self: flex-end;
}
