.centerAll{
  margin-top: 0rem;
  height: 90vh;
  display: flex;
  justify-content: center;
  gap: 5rem;
  padding: 5rem;
}
.text_{
  padding-top: 5rem;
  font-size: 17px;
}
.titleTask{
  font-size: 35px;
  font-weight: 600;
  padding-bottom: 1rem;
  color: rgb(46, 2, 85);
  word-spacing: 2px;
  font-family: 'Archivo', sans-serif;
  line-height: 120%;

}
.p1{
  border-left: 5px solid #744AE2;
  padding: 20px;
}