.hero__content h2 {
    font-weight: 600;
    line-height: 55px;
    font-size: 50px;
  }
  
  .hero__content {
    font-family: 'Archivo', sans-serif;
    width: 40rem;
    margin-left: 5rem;
  }
  .text1{
    font-family: 'Inter', sans-serif;
    line-height: 120%;
    letter-spacing: 0.08rem;
  }
.css-1k7ymg1{
min-height: 0vh;
  }
  section{
    position: relative;
  }
  .title_{
    color: #744AE2;
  }
   .btn1{
    outline: none;
    border: none;
    background-color: #754ae2;
    color: white;
    width: 30%;
    padding: 10px;
    margin-top: 20px;
    font-size: 17px;
    cursor: pointer;
    transition: ease 0.3s;
    margin-left: 5rem;

  }
  .btn1:hover{
background-color: #b59ff0;
  }

  .hero__title{
  font-size: 2.5rem;
  }
  .headerHome{
    display: flex;
    flex-direction: column;
  }
  .typographieSection{
    margin-top: -50px;
    display: flex;
  }