.right-drawer {
    position: absolute;
    top: 0;
    right: -300px;
    height: 100%;
    width: 300px;
    transition: right 0.3s ease-in-out;
     display: none; 
  }
  
  .right-drawer.open {
    right: 0 !important;
    display: block !important;
  }
  
  .right-drawer .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
  }
  
  .right-drawer .content {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    background-color: white;
    z-index: 11;
  }
  