.Archive_title{
    width: 100%;
    font-size: 24px;
    color: rgb(54, 54, 54);
    margin-bottom: 10px;
    font-size: 25px;
    font-family: 'Rubik', sans-serif;
    padding-top: 10px;
    padding-bottom: 20px;
}
.datatable {
    height: 600px;
    padding: 20px;
  }

  .box{
    width: 48%;
    height: 5rem;
    border: 1px solid rgb(167, 167, 167);
    border-radius: 10px;
    font-size: 22px;
    font-weight: 500;
    color: rgb(79, 79, 79);
    cursor: pointer;
    align-items: center;
    transition: ease 0.3s;
  }
  .box:hover{
    background-color: rgba(225, 225, 225, 0.242);
    color: rgb(79, 79, 79);

  }
 .zonesearch{
  border: 0.1rem solid rgba(154, 154, 154, 0.601);
  background-color: rgba(240, 248, 255, 0);
 }
 .zonesearch:hover{
  border: 0.12rem solid #744AE2;
 }
 .zonesearch:focus{
  outline: none;
  border: 0.12rem solid #744AE2;
 }

 .searchicon{
  margin-top: 20px;
  margin-right: -20px;
  color: rgb(169, 169, 169);
 }